header-comp

.header__cover.position-relative.container-fluid.d-flex.align-content-center.d-sm-block.py-4.py-sm-0.cover2
  .row.pt-sm-3.pt-md-4.flex-wrap
    .col-12
      span.is-h3.is-font-weight--normal.text-pinkDark.ml-2.pr-5.main-title Reportes
      
.container-fluid.pb-4.dashboard-page
  .row.mb-md-3.pb-md-3
    .col-12.mt-3
     .card
      .card__content.mb-2
           a.mb-3( href="#/otrosReportesSeleccion" style="float: right")
             img.logoRegresar( src='../../../assets/icons/icon-regresar.svg' )
   
      .card-header 
       .btn-group
        button.btn( ng-click="$ctrl.ClickTblVenta()" id="BtnVentas" ) Ventas
        button.btn( ng-click="$ctrl.ClickTblPedido()" id="BtnPedidos"  ) Pedidos
      
      .card-body
       div.fade-in(id="SectionVenta" ng-if="SectionVenta")
        .row
          .col-lg-2.col-sm-12
           .card
             get-object( obj-id='{{ $ctrl.FiltroVentas }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')  
             get-object( obj-id='{{ $ctrl.FiltroVentas2 }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')         
             get-object( obj-id='{{ $ctrl.FiltroVentas3 }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')        
             get-object( obj-id='{{ $ctrl.FiltroVentas4 }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')          
             get-object( obj-id='{{ $ctrl.FiltroVentas5 }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false') 
          .col-lg-10.col-sm-12
           .card
            .car-header
             .d-flex.align-items-center.justify-content-between.mt-3
              button.ml-auto.btn.btn-primary.bg-white.border-0.px-3.mb-2( ng-click="$ctrl.exportDataExcel('1a79f55b-43cd-442c-81f8-c77784d25e24')" )
               span.pr-3.txt-light Exportar
               img( src='../../../assets/icons/icon-excel.svg' )
            .card-body
              get-object( obj-id='{{ $ctrl.TablaVenta }}' height='300px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')
        div(style="height:50px")
        .card
          get-object( obj-id='{{ $ctrl.GraficosVenta }}' height='300px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false') 
        
       div.fade-in(id="SectionPedido" ng-if="SectionPedido" )   


         .row
          .col-lg-2.col-sm-12
           .card
             get-object( obj-id='{{ $ctrl.FiltroPedido }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')  
             get-object( obj-id='{{ $ctrl.FiltroPedido2 }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')         
             get-object( obj-id='{{ $ctrl.FiltroPedido3 }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')        
             get-object( obj-id='{{ $ctrl.FiltroPedido4 }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')          
             get-object( obj-id='{{ $ctrl.FiltroPedido5 }}' height='50px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false') 
          .col-lg-10.col-sm-12
           .card
            .car-header
             .d-flex.align-items-center.justify-content-between.mt-3
              button.ml-auto.btn.btn-primary.bg-white.border-0.px-3.mb-2( ng-click="$ctrl.exportDataExcel('ca956496-8970-4a3a-b7d9-0e23b3b47ac0')" )
               span.pr-3.txt-light Exportar
               img( src='../../../assets/icons/icon-excel.svg' )
            .car-body
             get-object( obj-id='{{ $ctrl.TablaPedido }}' height='300px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false')
         div(style="height:50px")
         .card
           get-object( obj-id='{{ $ctrl.GraficosPedido }}' height='300px' style="width: 100%;" app='BonoCaminoExito' num-obj='1' options='false') 




        
        
