header.header.w-100.position-fixed.header-nav
  get-object.w-100( obj-id='CurrentSelections' width='100%' app='FullerApp_v1' num-obj='1' options='false')
  nav.navbar.navbar-expand-lg.d-flex.align-items-center.justify-content-end
    a.navbar-brand.mr-auto(href="#/")
      img.header__logo( src='../../../assets/img/logo.svg' )