header-comp

.header__cover.position-relative.container-fluid.d-flex.align-content-center.d-sm-block.py-4.py-sm-0.cover2( style="height: 10.625rem" )
  .row.pt-sm-3.pt-md-4.flex-wrap
    .col-12
      span.is-h3.is-font-weight--normal.text-pinkDark.ml-2.pr-5.main-title Convención GE

.container-fluid.pb-4.dashboard-page                     
  .row.mb-md-3.pb-md-3
    .col-12.mt-3
      .card
        .card__content.mb-2
          .d-flex.align-items-center.justify-content-between.mt-3
            span.is-font-weight--bold.is-h5 Detalle 
            a.mb-3( href="#/otrosReportesSeleccion")
              img.logoRegresar( src='../../../assets/icons/icon-regresar.svg' )
        .row.ml-1
         .col-2.mt-3
          .card 
           .card_container
           
            span.is-font-weight--bold.is-h4 Filtros 
            div( style="height:20px")
            .row
             .col-12
              get-object( obj-id='{{ $ctrl.Filtro }}' height='50px' style="width: 100%;" app='ConvencionGE' num-obj='1' options='false')
             .col-12
              get-object( obj-id='{{ $ctrl.Filtro2 }}' height='50px' style="width: 100%;" app='ConvencionGE' num-obj='1' options='false')
             .col-12
              get-object( obj-id='{{ $ctrl.Filtro3 }}' height='50px' style="width: 100%;" app='ConvencionGE' num-obj='1' options='false')
             .col-12
              get-object( obj-id='{{ $ctrl.Filtro4 }}' height='50px' style="width: 100%;" app='ConvencionGE' num-obj='1' options='false')           
         .col-10.mt-3
          .card        
            .d-flex.align-items-center.justify-content-between.mt-3
               button.ml-auto.btn.btn-primary.bg-white.border-0.px-3.mb-2( ng-click="$ctrl.exportDataExcel('DpLndYG')" )
                 span.pr-3.txt-light Exportar
                 img( src='../../../assets/icons/icon-excel.svg' )
            get-object( obj-id='{{ $ctrl.Tabla }}' height='300px' style="width: 100%;" app='ConvencionGE' num-obj='7' options='false')
        
        

modalTimer-comp    