h1 Hola testCarousel
.col-md-12
    div(carousel-comp dot="true" arrow="true")
        div(style="height:200px")
            p uno
        div(style="height:200px")
            p dos
        div(style="height:200px")
            p tres