header-comp
 
.header__cover.position-relative.container-fluid.d-flex.align-content-center.d-sm-block.py-4.py-sm-0.cover2
  .row.pt-sm-3.pt-md-4.flex-wrap
    .col-12
      span.is-h3.is-font-weight--normal.text-pinkDark.ml-2.pr-5.main-title Reportes

.container-fluid.pb-4.dashboard-page.mt-0.mt-md-n5
  .row.mb-md-3.pb-md-3.header__cards
    .col-12.mb-3
      .card(style="height:100vh;")
        .mb-2
          .d-flex.justify-content-between.align-items-center
            span.is-font-weight--bold.is-h5.mb-3 Haga una selección
            a.mb-3( href="https://portal-bi.fuller.com.mx:9090/#/bienvenido")
              img.logoRegresar( src='../../../assets/icons/icon-regresar.svg' )
            //- a.mb-3( href="https://portal-bi.fuller.com.mx:9090/?proxyRestUri=https%3a%2f%2fmex3ntas22.global.company.domain%3a4243%2fqps%2f&targetId=bbc28838-7729-4957-b9fe-07a8d0c28e28#/")
              
          a.mt-3( href="#/otrosReportes")
            .cardReporte.d-flex.justify-content-center.align-items-center
              img.icon-cardReporte( src='../../../assets/icons/icon-plan-ventas.svg' )
              span.m-0.title-cardReporte Plan de Ventas